---
layout: default
title: Home
---

<ul>
  {% for post in site.posts %}
    <li>
      <a href="https://zazhang.github.io/blog{{ post.url }}">
        {{ post.title }}
      </a>
      - <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
    </li>
  {% endfor %}
</ul>

<!--
{% for post in site.older_posts %}
  <div class="entry old_entry">
    <div class="entrytitle">
      <h2><a href="https://zazhang.github.io/blog{{ post.url }}">{{ post.title }}</a> <span class="author">{{ post.author }}</span></h2> 
      <h3>{{ post.date | date_to_string }} | <a href="https://zazhang.github.io/blog{{ post.url }}#disqus_thread" class="commentslink">View comments</a></h3>
    </div>
  </div>
{% endfor %}

<div class="archive_link">
  <a href="/archive">View all previous posts in archive &raquo;</a>
</div>
-->

<script type="text/javascript">
//<![CDATA[
(function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/newbambblog/get_num_replies.js' + query + '"></' + 'script>');
  })();
//]]>
</script>



<!-- Default Setup

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

-->